{{ define "main" }}
  {{ $modifiedContent := .Content }}
  {{ if .Params.abstract }}
    {{ $abstract := printf "<h1 id=\"abstract\">Abstract</h1>\n%s\n\n" (.Params.abstract | markdownify) }}
    {{ $modifiedContent = printf "%s%s" $abstract .Content }}
  {{ end }}
  
  <!-- Store modified content in scratch for use in partial -->
  {{ .Scratch.Set "ModifiedContent" $modifiedContent }}
  
  <!-- Include all article.html styles and structure, but with modified content -->
  {{ partial "publication_article.html" . }}
{{ end }}
